* {
  box-sizing: border-box;
  outline: none;
}

body {
    background-color: black;
    color: rgb(30,30,30);
    overflow-y: scroll;
    overflow-x: hidden;
}
header {
    background-color: rgb(30,30,30);
    color: rgb(255,255,255);
    padding: 20px 0;
    h1 {
        margin: 20px 0;
    }
    a {
        color: rgb(255,255,255);
    }
}
.wrap {
    max-width: 1000px;
    margin: auto;
}


/*======= Search Section =======*/

header {
  display: flex;
  justify-content: center;
}
button {
  background-color: rgb(15,15,15);
  color: rgb(220,220,220);
  padding: 8px 15px;
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 23px;
  font-weight: 400;
}
input {
  font-size: 18px;
  padding: 12px 25px;
  background-color: rgb(15,15,15);
  color: rgb(220,220,220);
  border: none;
}

/*======= Results =======*/

.results {
  display: flex;
  flex-flow: row wrap;
  .result {
    background-color: rgb(30,30,30);
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    flex: 0 0 90%;
    @media(min-width: 768px){
      flex: 0 0 42.5%;
      margin-left: 5%;
      margin-right: 0;
      margin-top: 30px;
    }
    opacity: 0;
    transform: translateX(500px);
    .frame {
      position: relative;
      margin: 0;
      h3 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        text-shadow: 3px 3px 2px black;
        margin: 0;
      }
    }
    img {
      border-radius: 3px 3px 0 0;
      max-width: 100%;
      margin: 0;
      transition: filter 0.3s;@media(min-width: 768px){
        filter: grayscale(40%);
      }
    }
    &:hover {
      img {
        filter: grayscale(0%);
      }
    }
  }
}

figcaption {
  color: white;
  padding: 20px;
  p {
    margin-bottom: 20px;
  }
  .searchmatch {
    color: red;
  }
}


h3 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1px;
}
