* {
  box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: rgb(30,30,30);
    overflow-y: scroll;
}
header {
    background-color: rgb(30,30,30);
    color: rgb(255,255,255);
    padding: 20px 0;
    h1 {
        margin: 20px 0;
    }
    a {
        color: rgb(255,255,255);
    }
}
section {
    padding: 10px 0;
}
.wrap {
    max-width: 1000px;
    margin: auto;
}


/*======= Search Section =======*/

header {
  display: flex;
  justify-content: center;
}
button {
  background-color: rgb(15,15,15);
  color: rgb(220,220,220);
  padding: 8px 15px;
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 23px;
  font-weight: 400;
}
input {
  font-size: 18px;
  padding: 12px 25px;
  background-color: rgb(15,15,15);
  color: rgb(220,220,220);
  border: none;
}

/*======= Results =======*/

.results {
  display: flex;
  flex-flow: row wrap;
  .result {
    border: solid 1px rgb(140,140,140);
    border-radius: 3px;
    padding: 20px;
    margin: 10px 2%;
    flex: 0 0 92%;
    @media(min-width: 768px){
      flex: 0 0 46%;
    }
    opacity: 0;
    transform: translateX(500px);
  }
}

h3 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -2px;
}
