@import url('https://rsms.me/inter/inter-ui.css');

body {
    font-family: 'Inter UI', sans-serif;
    font-size: 14px;
    font-feature-settings: "kern" 1, "liga" 1;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}
